{% extends 'homepage/base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block header %}{% endblock header %}
{% block main %}

    <div class="card">
        <div class="card-header">
            Karyaseru | SMK Telkom Bandung
        </div>
        <div class="card-body">
            <h5 class="card-title">Berhasil Mengunggah Karya!</h5>
            <p class="card-text mt-2">Menunggu karya diverifikasi oleh Admin, untuk tambil di website.</p>
            <a href="/" class="btn btn-primary my-3">Kembali Ke Halaman Utama</a>
        </div>
    </div>

{% endblock main %}
{% block js %}
{% endblock js %}
{% block footer %}
{% endblock footer %}
