{% extends 'homepage/base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block header %}{% endblock header %}
{% block main %}
    <section class="bg-white mx-5 mt-5 mb-3 p-3 rounded border">
        <img class="img-fluid" src="{% static 'blog/img/logo-nav.png' %}" alt="Logo smk telkom bandung" />
        <blockquote class="blockquote mt-3">
            <p class="h4">Berhasil Mengunggah Karya! Silahkan Menunggu Persetujuan Admin...</p>
        </blockquote>
    </section>

{% endblock main %}
{% block js %}
{% endblock js %}
{% block footer %}
{% endblock footer %}
