{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css" media="screen">
     .asteriskField {
         color: red;
         margin-left: 0.25rem;
     }
     .my-button {
         display: none;
     }
    legend {
        display: inline !important;
        float: none;
        font-family: 'Source Sans Pro', sans-serif;
        width: auto !important;
        max-width: 100%;
        padding: 0 0.5rem !important;
        margin-bottom: .5rem;
        font-size: 1.75rem;
        line-height: inherit;
        color: inherit;
        white-space: normal;
     }
    </style>
{% endblock style %}
{% block mainpanel %}


<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-danger text-white mr-2">
            <i class="mdi mdi-border-color"></i>
        </span> 
        {% if object %}
        Edit Kategori -- {{ object.category|title }}
        {% else %}
        Tambah Kategori
        {% endif %}
    </h3>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
               <form action="" method="post" enctype="multipart/form-data">
                    {% crispy form %}
                    <button type="submit" class="btn btn btn-gradient-danger">Tambah Kategori</button>
               </form> 
            </div>
        </div>
    </div>
</div>
{% endblock mainpanel %}
{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $('.selectmultiple').selectpicker();
    </script>
{% endblock js %}

