{% extends 'homepage/base.html' %}
{% load static %}
{% block bootstrap %}
<link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
{% endblock bootstrap %}
{% block style %}
<link rel="stylesheet" href="{% static 'dashboard/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/mdi/css/materialdesignicons.min.css' %}">
{% endblock style %}

{% block navbar %}
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="/"><img src="{% static 'dashboard/images/Prima.png' %}"
        alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" href="/"><img src="{% static 'blog/img/favicon.png' %}"
        alt="logo" /></a>
  </div>

  <div class="navbar-menu-wrapper d-flex align-items-stretch">

    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>

    <ul class="navbar-nav navbar-nav-right">

      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{ user.username }}</p>
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="{% url 'logout' %}">
            <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
        </div>
      </li>

      {% comment %} <li class="nav-item nav-logout d-none d-lg-block">
        <a class="nav-link" href="#">
          <i class="mdi mdi-power"></i>
        </a>
      </li> {% endcomment %}

      {% comment %} <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link" href="#">
          <i class="mdi mdi-format-line-spacing"></i>
        </a>
      </li> {% endcomment %}

    </ul>

    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>


<!-- SIDEBAR -->
<div class="container-fluid page-body-wrapper">
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>

      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'all-category' %}">
          <span class="menu-title">Kategori</span>
          <i class="mdi mdi-book-variant menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage-edit' %}">
          <span class="menu-title">Edit Homepage</span>
          <i class="mdi mdi-desktop-mac menu-icon"></i>
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>


  <div class="main-panel">
    <div class="content-wrapper">
      {% block mainpanel %}{% endblock mainpanel %}
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Karyaseru
          2020</span>
        <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
            href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates
          </a> from Bootstrapdash.com</span>
      </div>
    </footer>
    <!-- partial -->
  </div>

</div>
{% endblock navbar %}

{% block mainstyle %}{% endblock mainstyle %}
{% block footer %}{% endblock footer %}
{% block js %}

<script src="{% static 'dashboard/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'dashboard/js/off-canvas.js' %}"></script>
<script src="{% static 'dashboard/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'dashboard/js/misc.js' %}"></script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock js %}
