{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block mainpanel %}


<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-danger text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> Dashboard
    </h3>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
			<h4 class="card-title">Semua Postingan Karya • {{ total_post }}</h4>
		    {% if user.is_superuser %}
                    <a href="{% url 'create-post' %}" class="btn btn-danger btn-sm">Tambah Karya</a>
		    {% endif %}
                </div>
		<div>

			<form action="" method="GET">
			    <div class="input-group my-3">
				<input type="text" name="search" class="form-control" placeholder="Cari judul karya..." aria-label="Recipient's username" aria-describedby="basic-addon2">
			    </div>
			</form>
		</div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Judul Karya </th>
                                <th> Penulis </th>
                                <th> Kategori </th>
                                <th> Status </th>
                                <th> Terakhir Update </th>
                                <th> Aksi </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td> <a href="{% url 'update-post' post.slug %}">{{ post.title|title }}</a> </td>
                                <td> 
                                    {% for author in post.author.all %}
                                        <label class="badge badge-danger">{{ author.full_name|title }}</label>
                                    {% endfor %}
                                </td>
                                <td> 
                                    {% for c in post.category.all %}
                                    <label class="badge badge-danger">{{ c|upper }}</label>
                                    {% endfor %}
				                </td>
                                <td>
                                    {% if post.verified %}
                                    <label id="badge-{{ post.id }}" class="badge badge-gradient-success">TERVERIFIKASI</label>
                                    {% else %}
                                    <label id="badge-{{ post.id }}" class="badge badge-gradient-dark">TIDAK TERVERIFIKASI</label>
                                    {% endif %}
                                </td>
                                <td> {{ post.updated_at }} </td>
                                <td>
					<button class="btn btn-danger btn-sm" id="button-verify-{{ post.id }}"
						type="submit" form="verify-post-{{ post.id }}">
						{% if post.verified %}
						Batal Verifikasi
						{% else %}
						Verifikasi
						{% endif %}
					</button>
				    {% if user.is_superuser %}
                                    <button class="btn btn-outline-danger btn-sm" type="submit" form="delete-post-{{ post.id }}">Hapus</button>
				    {% endif %}

                                    <form action="" method="post" class="verify-post" id="verify-post-{{ post.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="slug-post" value="{{ post.slug }}">
					<input type="hidden" name="verify" id="verify-{{ post.id }}" value="{{ post.verified }}">
                                    </form>

                                    <form action="{% url 'delete-post' post.slug %}" method="post" id="delete-post-{{ post.id }}">
                                        {% csrf_token %}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock mainpanel %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'dashboard/js/verify.js' %}"></script>
{% endblock js %}
